@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 260 20% 15%;
  --foreground: 0 0% 100%;
  --primary: 265 65% 42%;
  --secondary: 226 50% 61%;
  --accent: 226 50% 61%;
  --radius: 0;
}

body {
  background-color: #25202D;
  color: #FFFFFF;
  image-rendering: pixelated;
}

.image-pixelated {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

@layer base {
  * {
    @apply border-border;
  }
}

/* Custom scrollbar for that retro feel */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #1A1621;
}
::-webkit-scrollbar-thumb {
  background: #6226B3;
  border-radius: 0;
}
